.index-body {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 100%;
    width: 100%;

    background: #000;
    background-image: url('../images/bg_1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.shim {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-aspect-ratio: 4/3) {
    .index-body {
        background-size: auto 100%;
    }
}

.index-inner {
    position: relative;
    top: 50%;
    padding: 20px 0;
    color: #fff;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.topbar {
    color: #fff;
    margin: 0;
    padding: 0;
}

.topbar span {
    font-weight: 700;
    font-size: 42px;
}

.social {
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 20px 0 0;
}

.topbar a:hover {
    color: yellowgreen;
}